.watchlist {
  position: absolute;
  top: -40px;
  right: 70px;
  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    top: 0px;
    right: 35px;
  }
}

.favorite {
  position: absolute;
  top: -40px;
  right: 35px;

  @media screen and (min-width: 768px) {
    top: 0;
    right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.send {
  position: absolute;
  top: -40px;
  right: 0px;
  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    top: 40px;
    right: 0;
  }
}

.friendsList {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0;

  max-height: 125px;
  overflow: auto;

  list-style: none;
  border: 1px solid;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: black;

  @media screen and (min-width: 768px) {
    top: 80px;
    right: -10px;
    color: #fff;
  }
}

.friend {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  &:hover {
    cursor: pointer;
  }
}
