.container {
  margin-top: 30px;
}

.list {
  list-style: none;
  border: 1px solid;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.link {
  font-size: 1.1rem;
  text-decoration: underline;
  color: #fff;
  transition: 300ms;
}

.delete {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
