.container {
  margin-top: 50px;
}

.form {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.select {
  width: 250px;
}

.button {
  width: 200px;
  background-image: linear-gradient(to left, #d2bdff, #1d1d1d);
  padding: 6px 0;
  margin: 25px 0 25px 0;
  border: transparent;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  transition: transform 300ms ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    margin-left: 15px;
  }
}
