.list {
  list-style: none;
  border: 1px solid;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.delete {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
