body {
  margin: 0;
  font-family: 'Roboto';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1d1d1d;
  color: #fff;
}

.container {
  position: relative;

  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 100px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 1024px;
  }
}
